html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.download a {
  font-size: 16px;
  color: Aquamarine;
}

.center {
    display: block;
    margin: 0 auto;
}

.description {
  font-size: 21px;
  color: gray;
}

#footer {
  text-align: right;
  color: gray;
}
